{% extends 'base.html' %}
{% block content %}

<h1>Pedal Details</h1>

<div class="row">
    <div class="col s6">
    <div class="card">
        <div class="card-content">
        <span class="card-title">{{ pedal.name }}</span>
        <p>Type: {{ pedal.type }}</p>
        <p>Description: {{ pedal.description }}</p>
            {% if pedal.price > 0 %}
            <p>Price: {{ pedal.price }}</p>
            {% else %}
            <p>Price: Unknown</p>
            {% endif %}
        </div>
        <div class="card-action">
            <a href="{% url 'pedals_update' pedal.id %}">Edit</a>
            <a href="{% url 'pedals_delete' pedal.id %}">Delete</a>
        </div>
    </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_show' pedal.id %}" method="post">
            {% csrf_token %}
            {{ playedat_form.as_p }}
            <input type="submit" class="btn" value="Add Show">
        </form>
    <table class="striped">
        <thead>
        <tr><th>Date</th><th>Location</th><th>Type of Show</th></tr>
        </thead>
        <tbody>
            {% for playedat in pedal.playedat_set.all %}
            <tr>
                <td>{{playedat.date}}</td>
                <td>{{playedat.location}}</td>
                <td>{{playedat.get_show_display}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

<hr />
<div class="row">
    <div class="col s6">
        <h3>{{ pedal.name }}'s most used instruments</h3>
        {% for instrument in pedal.instruments.all %}
        <div class="card">
        <div class="card-content">
            <span class="card-title">
            {{ instrument.brand }}</span> {{instrument.make }}</span> {{instrument.type}}
            </span>
        </div>
        </div>
        {% empty %}
        <h5>No Instruments :(</h5>
        {% endfor %}
    </div>
</div>
<!-- Available instruments will come after this line -->
<div class="col s6">
    <h3>Available instruments</h3>
    {% if instruments.count %} {% for instrument in instruments.all %}
    <div class="card">
        <div class="card-content">
        <span class="card-title">
            A {{ instrument.brand }}</span> {{instrument.type }}
        </span>
        </div>
        <div class="card-action">
        <form action="{% url 'assoc_instrument' pedal.id instrument.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
        </form>
        </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{pedal.name}} Already Has All instruments Available</h5>
    {% endif %}
</div>

<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    // add additional JS to initialize select below
    var selectEl = document.getElementById('id_show');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}
